{% extends "base.html" %}

{% block description %}
	Title: {{ article.title|e }}; 
	Date: {{ article.date|strftime('%Y-%m-%d')|e }}; 
	Author: {{ article.author|e }}
{% endblock %}

{% block title %}
	{{ article.title }} — {{ SITENAME }}
{% endblock %}

{% block content %}
<article class="post" >
	<div class="post-header">
		<h2>{{ article.title }}</h2>

		<div class="row post-info	">
			<div class="col-xs-12">
				Published <time class="post-pubdate" datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.date|strftime('%d %B %Y') }}</time> in <a href="{{ SITEURL }}/{{article.category.url}}">{{ article.category.name | capitalize }}</a>
			</div>
		</div>
	</div>

	<div class="post-content">
		{{ article.content }}
	</div> 

</article>
{% endblock %}
