{% extends "base.html" %}

{% block content %}

{% if articles %}
    {% for article in articles %}

    <article class="post clearfix"> 
        <div class="post-header">
            <h1><a href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title }}
            </a></h1>

            <div class="row post-info   ">
                <div class="col-xs-12">
                    Published <time class="post-pubdate" datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.date|strftime('%d %B %Y') }}</time> in <a href="{{ SITEURL }}/{{article.category.url}}">{{ article.category.name | capitalize }}</a>
                </div>
            </div>
        </div>

        <div class="post-content">
        {{ article.summary }}
        </div>

        <div class="pull-right post-continue-link">
	        ( <a href="{{ article.url }}">
	        	Continue Reading
	        </a> )
        </div>
    </article>

    {% endfor %}
{% else %}
	<h3>No articles found!</h3>
{% endif %}

{% endblock %}
